* {
    margin:0;
    padding:0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'helvetica';
    font-weight: 200;
}

.button-navbar {
    color: #BF192A;
}

.navigation {
    background-color:#fff;
}

.navigation > .container {
    max-width: 90%;
    margin: auto;
}

.navigation .navbarra {
    position:relative;
}

.navigation .navbarra .logo-toggle-container {
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
}

.navigation .navbarra .logo-toggle-container a {
    display: block;
}

.navigation .navbarra .logo-toggle-container a img {
    width: 120px;
}

.navigation .menu {
    text-align: right;
}

@media screen and (min-width:1024px) {
    .navigation .menu     {
        display: block !important;
        height: auto !important;
    }
}

.navigation .menu li {
    display: inline-block;
    padding: 43px 1px;
}

.navigation .menu li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-family: 600;
    letter-spacing: 1px;
    color: #163470;
    font-size: 16px;
}

.navigation .menu li:nth-child(1),
.navigation .menu li:nth-child(2),
.navigation .menu li:nth-child(3){
    float: left;
}

.navigation .menu li:hover a {
    color: #BF192A;
}

@media screen and (max-width:983px) {
    .navigation .navbarra .logo-toggle-container {
        position: static;
        transform: translateX(0%);
    }
    .navigation .navbarra .logo-toggle-container a {
        width: 80%;
    }

    .navigation .navbarra .logo-toggle-container .toggle-box {
        position: absolute;
        right: 10px;
        top: 30px;
        display: block;
        width: 30px;
        background: #3b7cff;
        padding: 15px;
        cursor: pointer;
        border-radius: 5px;
    }
    .navigation .navbarra .logo-toggle-container .toggle-box span {
        display: block;
        max-width: 90%;
        margin: auto;
        height: 2px;
        background-color: #fff;
        margin-bottom: 4px;
    }

    .navigation .navbarra .logo-toggle-container .toggle-box span:last-child {
        margin-bottom: 0;
    }
    
    .navigation .menu {
        text-align: center;
        display: none;
    }
    .navigation .menu li {
        display: block;
        float: none !important;
        padding: 0 10px;
        border-bottom: 1px solid #ccc;
    }

    .main-text {
        width: 100%;
    }
}

.section {
    margin: auto;
    display:flex;
    justify-content: space-between;
    padding: 40px;
    line-height: 2;
    background-color:rgb(242, 241, 239);
}

.section img {
    height: 300px;
    border-radius: 8px;
}

.section h1 {
    margin: 0;
    color:dimgrey;
    font-weight: 300;
    padding-right: 20px;
}

.section p {
    color: #163470;
    padding-right: 20px;
}

.btn-primary {
    padding: 12px 25px;
    background-color: #3b7cff;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: #BF192A;
}

.footer-principal {
    margin: auto;
    display:flex;
    padding: 30px;
    line-height: 2;
    background-color:#163470;
}

.footer-principal .span-footer-principal {
    font-size: 12px;
    padding-left: 35%;
    color: #fff;
}

